#app{
  font: 14px 'Helvetics Neue', Helvetica Arial, sans-serif;
  color: #4d4d4d;
  margin: 0 auto;
  padding: 20px
}

.mrgn-5{
  margin:5px;
}

.mrgn-10{
  margin:10px;
}

.mrgn-15{
  margin:15px;
}

.mrgn-20{
  margin:20px;
}

.mrgn-left-20{
  margin-left:20px;
}

.mrgn-left-30{
  margin-left:30px;
}

.mrgn-left-40{
  margin-left:40px;
}

a.active{
  color: orange;
}

nav{
  padding-top: 20px;
}
